.company-input-form {
  margin: 10px 0;
  display: flex;
  gap: 10px;
}

.company-input {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}

.fibr-content h3 {
  margin: 10px 0;
}

.fibrbtn {
  padding: 5px 10px;
  background-color: #e29f0f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

.fibrttl {
  font-size: 30px;
  margin: 10px 0;
  color: white;
}