.strm-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  .toggle-button-strm {
    width: 100%;
    padding: 10px;
    background-color: #9d05f5; /* Purple for storm sewer theme */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    transition: background-color 0.2s;
  }
  
  .toggle-button-strm:hover {
    background-color: #a41cf3;
  }
  
  .toggle-button-strm:active {
    background-color: #b03ff1;
  }
  
  .strm-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .strm-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    padding-left: 6px;
    margin: 5px 0;
    background-color: #bd62f1;
    border-radius: 4px;
  }
  
  .strm-content {
    flex-grow: 1;
    margin-right: 10px;
    word-break: break-word;
  }
  
  .copy-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .copy-button:hover {
    background-color: #0056b3;
  }
  
  .copy-button:active {
    background-color: #004085;
  }